<%- contentFor('conteudo') %>

<h2> Você realmente deseja excluir esse livro? Clique em Sim para avançar:</h2>

<a href="<%=id %>/confirmed"> SIM</a>
<a href="/"> NÃO</a>

<%- contentFor('script') %>

<script src="/scripts/main.js"></script>
