body
{
    font-size: 125%;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkred;
    margin: 50px;
    text-align: left;
}

/* unvisited link */
a:link 
{
    color: black;
}
  
/* visited link */
a:visited 
{
    color: gray;
}

h1
{
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 300%
}

h2
{
    background-color: white;
}

h2.titulo-livro
{
    text-align: center;
    margin-left: 50%;
}

h2.autor-livro
{
    background-color: darkred;
    text-align: left;
}

#imagemlivro
{
    float: right;
}

#imagemautor
{
    float: left;
}

h3
{
    background-color: white;
}

h3.desc-livro
{
    clear: both;
}

h3.Amazon
{
    background-color: orange;
}

h3.Saraiva
{
    background-color: yellow;
}

h3.menuresenha
{
    background-color: green;
}

h4.user-resenha
{
    background-color: greenyellow;
}

p.descricao
{
    text-align: right;
    margin-left: 10%;
    margin-right: 10%;
    background-color:gray;
    font-family: 'Courier New', Courier, monospace;
}